<!DOCTYPE html>

<!-- html code for front end of SQL and Flask: Home page -->

<html>

<!-- Name the webpage -->
<head>
    <title>OverSim: Fantasy Overwatch Simulator</title>
</head>
<!-- Link to style sheet and font for design -->
<link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500,100' rel='stylesheet' type='text/css'>
<link href='/static/style.css' type='text/css' rel='stylesheet'>

<body>
    <div class='header'>
        <!-- use a table to organize header information-->
        <table class='headTable'>
            <tbody class='headTableBody'>
                <tr>
                    <td rowspan='2'><a href='home.html'> <img src='/static/OverSimLogo.png' class="icon" height='100' width='100'></a></td>
                    <td><a href='home.html'> <h1 class='title'>OverSim</h1> </a></td>
                    <td> <h3>Welcome {{username}}</h3> </td>
                    <td>
                        {% if username != 'User' %}
                        <div class='dropdown'>
                            <button class='dropbutton'><img src='https://image.flaticon.com/icons/svg/60/60995.svg' height='10' width='10'></button>
                            <div class='dropContent'>
                                <a href='myteam.html'>My Teams</a>
                                <a href='account.html'>Account</a>
                            </div>
                            {% endif %}
                            <!-- End dropdown div -->
                        </div>
                    </td>
                </tr>
                <tr>
                    <td> <p>Fantasy Overwatch Simulator</p> </td>
                </tr>
            </tbody>
        </table>

        <!-- Create tabs to other pages on the website -->
        <div class='tab'>
            <a href='home.html'>Home</a>
            <a href='teams.html'>Teams</a>
            <a href='heroes.html'>Heroes</a>
            <a href='players.html'>Players</a>
            <a href='play.html'>Play</a>
            <!-- End tab div -->
        </div>
        <!-- End header div -->
    </div>
