{% include 'header.html' %}

<!-- Display an informational message to the user -->
<div class='body'>
    <table class=bodyTable>
        <tbody class=bodyTableBody>
        <td>
            <h1>Play</h1>
            <!--Add individual code here------------------------------------------------------------------------------->
        <td>
            <img src='/static/tracersimplelong2.png' width='100' height='480'>
        </td>
        </tbody>
    </table>
</div>
</body>

</html>
